@model _21S2_BZ_2.Models.Appointment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.f_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.f_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
